<%# locals: (library:) %>
<div class="col mb-2">
  <div class="card h-100">
    <div class="card-header">
      <%= library.name %>
    </div>
    <div class="card-body">
      <p class="card-text">Address: <%= library.address %></p>
      <p class="card-text">Phone: <%= library.phone %></p>
    </div>
    <div class="card-footer">
      Number of books:
      <span class="text-left badge">
        <%= library.books.count %>
      </span>
      <span class="pull-right">
        <%= link_to 'Edit', library_path(library), class: 'btn btn-success btn-xs' %>
        <%= button_to 'Delete', library_path(library), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class: 'btn btn-danger btn-xs'  %>
      </span>
    </div>
  </div>
</div>
