<div class="col mb-2">
  <div class="card h-100">
    <div class="card-header">
      <%= library.name %>
    </div>
    <div class="card-body">
      <p class="card-text">Address: <%= library.address %></p>
      <p class="card-text">Phone: <%= library.phone %></p>
    </div>
    <div class="card-footer">
      Number of books:
      <span class="text-left badge">
      <%= library.books.count %>
      </span>
      <span class="pull-right">
      <a href="/libraries/<%= library.id %>/edit" class="btn btn-success btn-xs">Edit</a>
      <button class="btn btn-danger btn-xs" type="button">Delete
      </button>
      </span>
    </div>
  </div>
</div>
