<main role="main" class="container mt-4">
  <h1>Libraries</h1>
  <hr class="my-3">
  <%= render partial: "show-links" %>
  <hr class="my-3">
  <div class="btn-toolbar">
    <div class="btn-group mr-2">
      <%= link_to "All", libraries_path, class: "btn btn-outline-info #{'active' if params[:limit].nil?}" %>
      <%= link_to "Abc", libraries_path(limit: "abc"), class: "btn btn-outline-info #{'active' if params[:limit].present?}"%>
    </div>
    <% if params[:limit] == "abc" %>
      <div class="btn-group">
        <%= ('a'..'z').each do |letter| %>
          <%= link_to letter.upcase, libraries_path(limit: "abc", letter: letter), class: "btn btn-outline-secondary" %> 
        <% end %>
      </div>
    <% else %>
      <%= form_with url: libraries_path, class: 'row flex-grow-1 ml-0', method: :get, local: true do |form| %>
        <%= form.label :name, class: "sr-only" do %>Filter by library name<% end %>
        <%= form.text_field :name, placeholder: "The name of the Library", class: "form-control col-md-5" %>
        <%= form.submit "Search", class: "btn btn-primary" %>
      <% end %>
    <% end %>
  </div>
  <hr class="my-3">
  
  <div class="row row-cols-3">
    <% if @libraries.any? %>
      <%= render collection: @libraries, partial: "library" %>
    <% else %>
      <div class="col-md-12 text-center">
        <div class="alert alert-info">
          Sorry, no result.
        </div>
      </div>
    <% end %>
  </div>
</main>