<!DOCTYPE html>
<html>
  <head>
    <title>Bookstore | Rails + Hotwire</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "vendor", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "shared/header" %>
    <main role="main" class="container mt-4">
      {{outlet}}
    </main>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>


